@using System.Data.Entity.Migrations.Model
@model IEnumerable<FitMeApp.Common.User>



<ul class="list-group">
    @foreach (var contact in Model)
    {
        string avatarPath = "/Content/images/" + contact.Avatar;@*move all avatars to Content folder*@
        <li class="list-group-item">
            <div class="container" style="text-align: center">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@avatarPath" style="width: 100%; height: auto; padding: 0px" />
                    </div>
                    <div class="col-md-9">
                        <div class="row" >
                            <div style="width: 100%; text-align: center">
                                @contact.FirstName @contact.LastName
                            </div>
                           
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-outline-dark btn-sm">Chat</button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </li>
    }
</ul>



