@using System.Data.Entity.Migrations.Model
@using System.Linq
@model IEnumerable<FitMeApp.Common.User>

<style>
    div.scrollChatList {
        width: 100%;
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        margin: 0px 15px;
        padding: 0px 5px;
    }
</style>

<div class="scrollChatList" style="margin: 15px">
    <ul class="list-group">
        @foreach (var contact in Model)
        {
            string avatarPath = "/Content/images/" + contact.Avatar;
            <li class="list-group-item">
                <div class="container" style="text-align: center">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="@avatarPath" style="width: 100%; height: auto; padding: 0px" />
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div style="width: 100%; text-align: center">
                                    @contact.FirstName @contact.LastName
                                </div>
                            </div>
                            <div class="row">
                                <a asp-controller="ChatRoom" asp-action="SelectContactToChat" asp-route-receiverId="@contact.Id" class="btn btn-outline-dark btn-sm">Chat</a>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </li>
        }
    </ul>
</div>




