<div class="container" style="padding: 20px; text-align: center">
    <div class="row">
        <h4>
            You don't have any contacts.
        </h4>
    </div>
    <br/>
    <br/>
    <div class="row" style="height: 200px; width: auto">
        <img src="/Content/images/messanger.jpg" />
    </div>

</div>
