@model FitMeApp.WEB.Contracts.ViewModels.GymViewModel

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>@Model.Name</h3>
                <h5>@Model.Address</h5>
                <table class="table table-borderless table-sm table-schedule">                    
                    <tbody>
                        <tr>
                            <td class="col1">Monday</td>
                            <td class="col2">7:00 - 23.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Tuesday</td>
                            <td class="col2">7:00 - 23.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Wednesday</td>
                            <td class="col2">7:00 - 23.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Thursday</td>
                            <td class="col2">7:00 - 23.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Friday</td>
                            <td class="col2">7:00 - 23.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Saturday</td>
                            <td class="col2">8:00 - 22.00</td>
                        </tr>
                        <tr>
                            <td class="col1">Sunday</td>
                            <td class="col2">8:00 - 21.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">

            </div>

        </div>

    </div>
