@{
    ViewBag.Title = "Failed try buy Trainer subscription";
}

<div style="margin:20px; text-align:center">

    <h3>You can't change the gym while you have actual events.</h3>
    <br />
    <h5>Please, cancel all actual events in your schedule.</h5>
    <h5>Then you'll be able to buy Trainer subscription.</h5>
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Ok</a>
</div>
<div style="text-align:center">
    <img src="~/Content/images/appConsideration.jpg" alt="Alternate Text" style="height:300px; width:auto" />
</div>