@model string


<h3>Visiting statistic</h3>

<div class="container">
    <div>
        <h5>
            To load visiting data do some steps below:
        </h5>
        <h6>
            1. Download the blank by pressing the button
        </h6>
        <a asp-controller="Gyms" asp-action="DownloadVisitingChartBlank" asp-route-gymName ="@Model" class="btn btn-dark"> Download blank</a>
        <br />
        <br />
        <h6>
            2. Follow the path and fill the blank
        </h6>
        <h6>
            3. Save changes in Excel. Please, don't change a file directory.
        </h6>
        <h6>
            4. Load filled blank by pressing the button bellow:
        </h6>
        <a asp-controller="Gyms" asp-action="LoadVisitingChartFile" asp-route-gymName ="@Model" class="btn btn-dark"> Load visiting data</a>
    </div>
</div>