@model FitMeApp.WEB.Contracts.ViewModels.GymViewModel

@{
    ViewBag.Title = "Type of subscription choosing";
}

<div class="container" style="margin: 20px">
    <div class="row" style="text-align: center">
        <h4>Choose type of subscriptions</h4>
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align: center; padding: 25px; margin: 25px; border: solid lightgray 2px; border-radius: 5px">
            <div class="row" style="text-align: center">
                <h5 style="font-weight: bold">
                    Subscriptions for visitors
                </h5>
                <h6>
                    give access to work out in the gym  <br />
                    and use some other functions <br />
                    as diet monitoring or group training.
                </h6>
            </div>
            <div style="height: 250px; width: auto">
               <img src="/Content/images/sport3.jpg" style="height: 100%"/>
            </div>
            <a asp-controller="Gyms" asp-action="SubscriptionsForVisitors" asp-route-gymId="@Model.Id" class="btn btn-dark" style="width: 80%"> For visitors</a>
        </div>
        <div class="col-md-6" style="text-align: center; padding: 25px; margin: 25px; border: solid lightgray 2px; border-radius: 5px">
            <div class="row" style="text-align: center">
                <h5 style="font-weight: bold">
                    Subscriptions for trainers
                </h5>
                <h6>
                    give access to work as a trainer  <br />
                    also you can use other functions <br />
                    as diet monitoring and group training.
                </h6>
            </div>
            <div style="height: 250px; width: auto">
                <img src="/Content/images/sport4.jpg" style="height: 100%"/>
            </div>
            <a asp-controller="Gyms" asp-action="SubscriptionsForTrainers" asp-route-gymId="@Model.Id" class="btn btn-dark" aria-disabled="True" style="width: 80%">Work as a trainer</a>

        </div>
    </div>
</div>