<div class="container" style="text-align:center">
    <div class="row">
        <div class=" col-md-3">

        </div>
        <div class=" col-md-6">
            <h3>
                <br />
                Your subscription has been successfully completed!
                <br />
            </h3>
            <h6>
                Thank you for joining the big sports family!
                <br />
                <br />
                You can see all the information about your subscription in your
                <br /> Personal Account.
                <br />
                If you wish to cancel subscription you always can do it in your 
                <br /> Personal Account too.
                <br />
                <hr />
            </h6>
            <div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:50%">OK</a>                
            </div>
        </div>
        <div class=" col-md-3">

        </div>

    </div>

</div>
