@model FitMeApp.WEB.Contracts.ViewModels.CustomErrorViewModel

<div style="text-align:center; padding:15px">
    <h3>
        Oops, something goes wrong...
    </h3>
    <br />
    <h5>
        @Model.Message
    </h5>    
    <h5> We'll solve the problem as soon as we can! </h5>
</div>
<div style="text-align:center; margin:15px">
    <img src="/Content/images/error.jpg" alt="" style="height:250px; width:auto"/>
</div>
<div style="text-align:center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back Home</a>
</div>

