@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.TrainingViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding:20px">
            <h4>
                Are you looking for a people with common active lifestyle? You've come to the right place!
            </h4>
            <h6>
                Are you prefer moderate and calm training?
                Or maybe you are more energetic and active person?
                Here you can choose the group class that suits right for you!
            </h6>
            <hr />
        </div>
        <div class="col-md-4">
            @* add group classes picture  *@
            <img src="/Content/images/gym4.jpg" class="d-block w-100" alt="picture" style="margin: 15px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var groupClass in @Model)
        {
            string picturePath = "/Content/GroupClasses/" + groupClass.Name + ".jpg";

            <div class="col-md-4" style="margin: 15px 0">
                <div class="card text-center h-100">
                    <div style="height: 150px; text-align: center">
                        <img src="@picturePath" class="card-img-top" alt="..." style="height:100%; width:auto">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@groupClass.Name</h5>
                        <p class="card-text">@groupClass.ShortDescription</p>
                    </div>
                    <div style="padding: 15px">
                        <a asp-action="CurrentGroupClass" asp-controller="GroupClasses" asp-route-groupClassId ="@groupClass.Id" class="btn btn-dark" >Show more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


  