@model IEnumerable<FitMeApp.WEB.Contracts.ViewModels.TrainingViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding:20px">
            <h4>
                Are you looking for a people with common active lifestyle? You've come to the right place!
            </h4>
            <h6>
                Are you prefer moderate and calm training?
                Or maybe you are more energetic and active person?
                Here you can choose the group class that suits right for you!
            </h6>
            <hr />
        </div>
        <div class="col-md-4">
            @* add group classes picture  *@
            <img src="/Content/images/gym4.jpg" class="d-block w-100" alt="picture" style="margin: 15px">
        </div>
    </div>
</div>