@*@model string*@

<div class="container">
    <div class="row" style="margin: 30px 0">
        <div style="text-align: center">
            <h3> Diet plan has been created!</h3>
        </div>
        <br />
        <br />
        <div style="text-align: center">
            <h5> You can download your personal diet plan by clicking on the button below.</h5>
        </div>
    </div>
    <div class="row">
        <div style="text-align: center">
            <a asp-controller="Diet" asp-action="DownloadDietPlatPdfFile" class="btn btn-primary">Download plan</a>
        </div>
    </div>
    <div class="row" style="margin: 60px 0 0 0">
        <div style="text-align: center">
           <img src="~/Content/images/diet4.jpg" style="width: 100%; height: auto"/>
        </div>
    </div>
</div>
