@model IEnumerable<string>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row" style="padding: 20px">
                <div class="col-md-12">
                    <div class="select-box">
                        <div class="select-option">
                            <input type="text" placeholder="Select product" id="soValue" readonly value=""/>
                        </div>
                        <div class="content">
                            <div class="search">
                                <input type="text" id="optionSearch" placeholder="Search product..."/>
                                <ul class="options">
                                    @foreach (var name in @Model)
                                    {
                                        <li>@name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="productInfo"></div>
        </div>
    </div>
</div>


<script>
    const selectBox = document.querySelector('.select-box');
    const selectOption = document.querySelector('.select-option');
    const soValue = document.querySelector('#soValue');
    const optionSearch = document.querySelector('#optionSearch');
    const options = document.querySelector('.options');
    const optionsList = document.querySelectorAll('.options li');

    selectOption.addEventListener('click',
        function(e) {
            selectBox.classList.toggle('active');
        });

    optionsList.forEach(function(optionsListSingle) {
        optionsListSingle.addEventListener('click',
            function(e) {
                var text = this.textContent;
                soValue.value = text;
                selectBox.classList.remove('active');
                $('#productInfo').empty();
                var _url = '@Url.Action("InvokeProductNutrientsViewComponent", "Diet")';
                $.ajax({
                    type: "Get",
                    url: _url,
                    data: { productName: text },
                    success: function(result) {
                        $('#productInfo').html(result);
                    }
                });

            });
    });
    
    optionSearch.addEventListener("keyup",
        function (e) {
            var filter, li, i, textValue;
            filter = optionSearch.value.toLowerCase();
            li = options.getElementsByTagName('li');
            for (i = 0; i < li.length; i++) {
                textValue = li[i].textContent || li[i].innerText;
                if (textValue.toLowerCase().indexOf(filter) > -1) {
                    li[i].style.display = '';
                }
                else {
                    li[i].style.display = 'none';
                }
            }
        });


    soValue.addEventListener('input', function(e) {
        alert("text added");
    });




    //document.getElementById("productSearchBox").addEventListener("keyup",
    //    function (e) {
    //        if ((e.keyCode > 45 && e.keyCode < 106) || e.keyCode === 8) {
    //            var letters = document.getElementById("productSearchBox").value;
    //            if (letters.length > 0) {
    //                $.post(`https://localhost:44384/api/getproductsbystartwith`,
    //                        {
    //                            letters: letters
    //                        })
    //                    .done(function (data) {
    //                        if (data !== null) {
    //                            /*alert(data);*/
    //                            var selectOptionsHtml = "";
    //                            for (var i = 0; i < data.length; i++) {
    //                                selectOptionsHtml += "<option value=" + data[i] + ">" + data[i] + "</option >";
    //                            }
    //                            document.getElementById("searchResult").innerHTML = "";
    //                            document.getElementById("searchResult").innerHTML = selectOptionsHtml;
    //                        }
    //                        else {
    //                            document.getElementById("searchResult").innerHTML = "";
    //                        }
    //                    });

    //            }
    //        }
    //    });
</script>
