@model IEnumerable<string>


<div class="container">
    <div class="row">
        <div class="col-md-9" style="padding: 20px; height: 150px">
            <h4>
                Wonder how many calories are in your favorite products?
                <br />
                So, let's see!
            </h4>
            <br />
            <h6 style="vertical-align: bottom">
                Just select the product in the search box below and see how many calories and nutrients it contains.
            </h6>
            <hr />
        </div>
        <div class="col-md-3" style="height: 150px">
            <img src="/Content/images/healthyFood6.jpg" class="d-block w-100" alt="picture">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row" style="padding: 0 20px">
                <div class="col-md-12">
                    <div class="select-box">
                        <div class="select-option">
                            <input type="text" placeholder="Select product" id="soValue" readonly value=""/>
                        </div>
                        <div class="content">
                            <div class="search">
                                <input type="text" id="optionSearch" placeholder="Search product..."/>
                                <ul class="options">
                                    @foreach (var name in @Model)
                                    {
                                        <li>@name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="productInfo"></div>
        </div>
    </div>
</div>


<script>
    const selectBox = document.querySelector('.select-box');
    const selectOption = document.querySelector('.select-option');
    const soValue = document.querySelector('#soValue');
    const optionSearch = document.querySelector('#optionSearch');
    const options = document.querySelector('.options');
    const optionsList = document.querySelectorAll('.options li');

    selectOption.addEventListener('click',
        function(e) {
            selectBox.classList.toggle('active');
        });

    optionsList.forEach(function(optionsListSingle) {
        optionsListSingle.addEventListener('click',
            function(e) {
                var text = this.textContent;
                soValue.value = text;
                selectBox.classList.remove('active');
                $('#productInfo').empty();
                var _url = '@Url.Action("InvokeProductNutrientsViewComponent", "Diet")';
                $.ajax({
                    type: "Get",
                    url: _url,
                    data: { productName: text },
                    success: function(result) {
                        $('#productInfo').html(result);
                    }
                });

            });
    });
    
    optionSearch.addEventListener("keyup",
        function (e) {
            var filter, li, i, textValue;
            filter = optionSearch.value.toLowerCase();
            li = options.getElementsByTagName('li');
            for (i = 0; i < li.length; i++) {
                textValue = li[i].textContent || li[i].innerText;
                if (textValue.toLowerCase().indexOf(filter) > -1) {
                    li[i].style.display = '';
                }
                else {
                    li[i].style.display = 'none';
                }
            }
        });

</script>
