<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row" style="padding: 20px">
                @*<div class="col-md-12">
                    <label for="productSearchBox" class="form-label">Product name</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="productSearchBox" placeholder="type product name..." aria-label="productSearchBox" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <img id="searchImg" src="/Content/images/search.svg" />
                            </button>
                        </div>
                </div>
                <div>
                    <select id="searchResult" class="form-select" multiple aria-label="multiple select example"></select>
                </div>
                <div id="test"></div>*@
                
                <div class="col-md-12">
                    <div class="select-box">
                        <div class="select-option">
                            <input type="text" placeholder="Select product" id="soValue" readonly name=""/>
                        </div>
                        <div class="content">
                            <div class="search">
                                <input type="text" id="optionSearch" placeholder="Search product..."/>
                                <ul class="options">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>22</li>
                                    <li>33</li>
                                    <li>235</li>
                                    <li>285</li>
                                    <li>34</li>
                                    <li>48</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<script>
    const selectBox = document.querySelector('.select-box');
    const selectOption = document.querySelector('.select-option');
    const soValue = document.querySelector('#soValue');
    const optionSearch = document.querySelector('#optionSearch');
    const options = document.querySelector('.options');
    const optionsList = document.querySelectorAll('.options li');

    selectOption.addEventListener('click',
        function(e) {
            selectBox.classList.toggle('active');
        });

    optionsList.forEach(function(optionsListSingle) {
        optionsListSingle.addEventListener('click',
            function(e) {
                var text = this.textContent;
                soValue.value = text;
                selectBox.classList.remove('active');
            });
    });



    document.getElementById("productSearchBox").addEventListener("keyup",
        function (e) {
            if ((e.keyCode > 45 && e.keyCode < 106) || e.keyCode === 8) {
                var letters = document.getElementById("productSearchBox").value;
                if (letters.length > 0) {
                    $.post(`https://localhost:44384/api/getproductsbystartwith`,
                            {
                                letters: letters
                            })
                        .done(function (data) {
                            if (data !== null) {
                                /*alert(data);*/
                                var selectOptionsHtml = "";
                                for (var i = 0; i < data.length; i++) {
                                    selectOptionsHtml += "<option value=" + data[i] + ">" + data[i] + "</option >";
                                }
                                document.getElementById("searchResult").innerHTML = "";
                                document.getElementById("searchResult").innerHTML = selectOptionsHtml;
                            }
                            else {
                                document.getElementById("searchResult").innerHTML = "";
                            }
                        });

                }
            }
        });
</script>
