@{
    ViewData["Title"] = "Welcome to diet plan";
}


<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding:20px">
            <h4>
                To eat is a necessity, but to eat intelligently is an art.
            </h4>
            <h6>
                One must eat to live, not live to eat.
                Here you can get helpful tips on how to structure your diet.
                And get a diet plan made just for you.
            </h6>
            <hr />
        </div>
        <div class="col-md-4">
            <img src="/Content/images/healthyFood4.jpg" class="d-block w-100" alt="picture" style="margin: 15px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin: 15px 0">
            <div class="card text-center h-100">
                <div style="height: 150px; text-align: center">
                    <img src="/Content/images/healthyFood3.jpg" class="card-img-top" alt="..." style="height:100%; width:auto">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Your personal diet plan</h5>
                    <p class="card-text">Fill out a short form about yourself and get a diet plan tailored just for you.</p>
                </div>
                <div style="padding: 15px">
                    <a asp-action="AnthropometricInfo" asp-controller="Diet" class="btn btn-dark">Get diet plan</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin: 15px 0">
            <div class="card text-center h-100">
                <div style="height: 150px; text-align: center">
                    <img src="/Content/images/healthyFood2.jpg" class="card-img-top" alt="..." style="height:100%; width:auto">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Some topic 2</h5>
                    <p class="card-text">Same text about topic 2.</p>
                </div>
                <div style="padding: 15px">
                    <a asp-action="" asp-controller="Diet" class="btn btn-dark">Go button</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin: 15px 0">
            <div class="card text-center h-100">
                <div style="height: 150px; text-align: center">
                    <img src="/Content/images/diet.jpg" class="card-img-top" alt="..." style="height:100%; width:auto">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Some topic 3</h5>
                    <p class="card-text">Same text about topic 3.</p>
                </div>
                <div style="padding: 15px">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="AnthropometryInfo" asp-controller="Diet" class="btn btn-dark">Go button</a>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn btn-dark">Go button</a>
                    }

                </div>
            </div>
        </div>

    </div>
</div>


