@*@model FitMeApp.Common.User*@
@model string

@{
    ViewBag.Title = "Registration completed";
}

<div style="margin:20px; text-align:center">
    @if (ViewBag.ApplyedForTrainerRole)
    {
        <h3>Thank you for joining us!</h3>
        <h4>Please pay attention that <span style="color: red"> all trainers functions will be available after the approval by admin.</span></h4>
        <br />
        <h5>To make your account more interesting to potential clients, add some information about yourself on your Profile.</h5>

    }
    else
    {
        <h3>Registration completed successfully!</h3>
        <h5>We would like to know you better!</h5>
        <h5>Please, add some information about yourself on your Profile.</h5>
    }
    <br />
    <a asp-action="EditPersonalData" asp-controller="Profile" asp-route-id="@Model" class="btn btn-dark">Fill out now</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-light">Not now</a>

</div>
<div style="text-align:center">
    <img src="~/Content/images/Hi.jpg" alt="Alternate Text" style="height:300px; width:auto" />
</div>
