@model FitMeApp.Common.User

@{
    ViewBag.Title = "Registration completed";
}

<div style="margin:20px; text-align:center">
    @if (ViewBag.ApplyedForTrainerRole)
    {
        <h3>Registration as User completed successfully!</h3>
        <h5>All trainers functions will be available after the approval of the job information.</h5>
        <a asp-action="Index" asp-controller="Home"  class="btn btn-light">Ok</a>
    }
    else
    {
        <h3>Registration completed successfully!</h3>
        <h5>We would like to know you better!</h5>
        <h5>Please, add some information about yourself on your Profile.</h5>
        <br />
        <a asp-action="EditPersonalData" asp-controller="Profile" asp-route-id="@Model.Id" class="btn btn-dark">Fill out now</a>
        <a asp-action="Index" asp-controller="Home"  class="btn btn-light">Not now</a>
    }
</div>
<div style="text-align:center">
    <img src="~/Content/images/Hi.jpg" alt="Alternate Text" style="height:300px; width:auto" />
</div>
