
<div class="dropdown position-relative">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
    </a>
    @if (ViewBag.NotificationCount > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
    }
<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-controller="Profile" asp-action="UserPersonalData">Personal data</a></li>
    <li>
        <a class="dropdown-item" asp-controller="Schedule" asp-action="Index">
            Schedule
            @if (@ViewBag.ChangedEventsCount > 0)
            {
                <span class="badge bg-secondary">@ViewBag.ChangedEventsCount</span>
            }
        </a>
    </li>
    <li><a class="dropdown-item" asp-controller="Profile" asp-action="UserSubscriptions">Subscriptions</a></li>
    <li><a class="dropdown-item" asp-controller="ChatRoom" asp-action="UserChat">Chat</a></li>
</ul>
</div>
