@model FitMeApp.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}
<h2>Change password for @Model.Name</h2>
@{string changePasswordMethodName = User.IsInRole("admin") ? "ChangePasswordWithoutOldPassword" : "ChangePasswordWithOldPassword"; }
<form asp-action="@changePasswordMethodName" asp-controller="Profile">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Email" />
    @if (!User.IsInRole("admin"))
    {
        <div class="form-group">
            <label asp-for="OldPassword" class="control-label">Old password</label>
            <input type="text" asp-for="OldPassword" class="form-control" />
        </div>
    }
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">New password</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-dark" />
    </div>
</form>