@*@using System.Security.AccessControl*@
@model FitMeApp.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}
<form asp-action="EditPersonalData" asp-controller="Profile" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Phone number</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Year of birth</label>
        <select id="year" asp-for="Year" class="form-select">
            @for (int i = (DateTime.Now.Year - 100); i < DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Gender</label>
        <select id="gender" asp-for="Gender" class="form-select">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
    </div>
    @*<div class="form-group">
            <label asp-for="AvatarPath" class="control-label">AvatarPath</label>
            <input type="text" asp-for="AvatarPath" class="form-control" />
        </div>*@

    <div class="form-group">
            <label asp-for="AvatarFile" class="control-label">AvatarPath file</label>
            <input type="file" asp-for="AvatarFile" class="form-control" />
        </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
        @if (User.IsInRole("trainer"))
        {
            <a asp-controller="Profile" asp-action="TrainerPersonalAndJobData" class="btn btn-dark">Back</a>
        }
        else
        {
            <a asp-controller="Profile" asp-action="UserPersonalData" class="btn btn-dark">Back</a>
        }

    </div>
</form>
