@{
    ViewBag.Title = "Failed try to refuse trainer role";
}

<div style="margin:20px; text-align:center">

    <h3>You can't delete your work license until you have actual events.</h3>
    <br />
    <h5>Please, cancel all actual events in your schedule.</h5>
    <h5>Then you'll be able to delete your work license and refuse Trainer role.</h5>
    <br />
    <a asp-action="EditTrainingSetAndPrice" asp-controller="Profile" class="btn btn-dark">Ok</a>
</div>
<div style="text-align:center">
    <img src="~/Content/images/appConsideration.jpg" alt="Alternate Text" style="height:300px; width:auto" />
</div>