/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.table-schedule {
    width: 60%;
}

.col1 {
    width: 25%;
    height: 5px;
    font-size: small;
    color: dimgray;
    padding: 0;
}

.col2 {
    width: 35%;
    height: 5px;
    font-size: small;
    color: dimgray;
    padding: 0;
}

.col3 {
    width: 30%;
    height: 10px;
    text-align: left;
    vertical-align: top;
    font-size: small;
    font-style: italic;
    padding: 2px;
}

.col3_1 {
    width: 30%;
    height: 10px;
    text-align: right;
    vertical-align: top;
    font-size: small;
    font-style: italic;
    padding: 2px;
}

.col4 {
    width: 30%;
    height: 10px;
    text-align: left;
    font-size: medium;
    padding: 2px;
}

.col5 {
    width: 10%;
    height: 10px;
    text-align: center;
    font-size: medium;
    padding: 2px;
}

.col6 {
    width: 60%;
    height: 5px;
    text-align: left;
    font-size: smaller;
    padding: 2px;
}

.col7 {
    width: 60%;
    height: 10px;
    text-align: left;
    font-size: medium;
    padding: 2px;
}

.col8 {
    text-align: left;
    font-style: italic;
}

.anthropometric-form-col1 {
    width: 40%;
    height: 10px;
    text-align: right;
    font-size: medium;
    padding: 2px;
}

.anthropometric-form-col2 {
    width: 20%;
    height: 10px;
    text-align: left;
    font-size: medium;
    padding: 2px;
}


.table1 {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}



.text-emphasize {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

.text-emphasizeBolt {
    font-weight: bold;
}


.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.personal-training-sign {
    background-color: #cff4fc;
    border-style: solid;
    border-color: #0dcaf0;
    border-radius: 3px;
    height: 80%;
    vertical-align: middle;
}

.group-class-sign {
    background-color: #fff3cd;
    border-style: solid;
    border-color: #ffc107;
    border-radius: 3px;
    height: 80%;
    vertical-align: middle;
}

.own-training-sign {
    background-color: #d1e7dd;
    border-style: solid;
    border-color: #198754;
    border-radius: 3px;
    height: 80%;
    vertical-align: middle;
}

.validation-summary-text-errors {
    font-size: x-small;
    color: #b94a48;
}

.border1 {
    border: 1px solid darkgray;
}

.comment {
    font-size: x-small;
    font-style: italic;
}

.comment-small-red {
    font-size: small;
    font-style: italic;
    color: #b94a48;
}


.backgraundSucced {
    background-color: #e6ffe6;
}

.backgraundAlert {
    background-color: #ffe6e6;
}

.scrollspy-container {
    height: 230px;
    overflow: auto;
    background: #EBFFDB;
}

.scrollspy-example {
    width: 3000px;
}

.my-diet-table {
    width: auto;
    font-size: small;
}

.my-diet-table tr {
    height: 20px;
}

.my-diet-table th {
   /* width: 150px;*/
    background-color: #E1FFCA;
}

.my-diet-table td {
     width: 130px;
   
}













