@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="container" style="background-color:lightgrey">
        <div class="row">
            <div class="col-md-3">                
            </div>
            <div class="col-md-6">
                <img src="/Content/images/background.jpg" class="img-fluid" alt="picture" >
            </div>
            <div class="col-md-3">

            </div>

        </div>        
        <hr />  
    </div>
    <div class="container" style="align-items:center">
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100" style="width: auto; margin: 10px">
                    <img src="/Content/images/gym.jpg" style="height:180px; width:auto" class="card-img-top" alt="picture" />
                    <div class="card-body">
                        <h5 class="card-title">Gyms</h5>
                        <p class="card-text">Choose a gym that will suit all your needs! Come and join the sports community!</p>
                    </div>
                    <div style="padding: 0 0 15px 0">
                        <a asp-controller="Gyms" asp-action="AllGyms" class="btn btn-dark">Choose GYM</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100" style="width: auto; margin: 10px">
                    <div class="container" style="height:180px">
                        <img src="/Content/images/personalTrainer.jpg" style="height:100%; width:auto" class="card-img-top" alt="picture" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Personal trainer</h5>
                        <p class="card-text">Do you want professional coaching support to achieve your dream body? Then come in and find Personal trainer for you!</p>
                    </div>
                    <div style="padding: 0 0 15px 0">
                        <a asp-controller="Trainers" asp-action="Index" class="btn btn-dark">Trainers</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100" style="width: auto; margin: 10px">
                    <div class="container" style="height:180px">
                        <img src="/Content/images/groupClass.jpg" style="height: 100%; width: auto" class="card-img-top" alt="picture" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Group Classes</h5>
                        <p class="card-text">Do you like to do exercises with like-minded people? Here you will find options for group fitness classes for every taste?</p>
                    </div>
                    <div style="padding: 0 0 15px 0">
                        <a asp-controller="GroupClasses" asp-action="GroupClasses" class="btn btn-dark">Choose group classes</a>
                    </div>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="card h-100" style="width: auto; margin: 10px">
                    <div class="container" style="height:180px">
                        <img src="/Content/images/homeTraining.jpg" style="height: 100%; width: auto" class="card-img-top" alt="picture" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Home training</h5>
                        <p class="card-text">Can't visit the gym? Or do you just prefer to work out in the comfort of your own home? Then you here!</p>
                    </div>
                    <div style="padding: 0 0 15px 0">
                        <a asp-controller="HomeTraining" asp-action="WelcomeToHomeTrainings" class="btn btn-dark">Home training programs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100" style="width: auto; margin: 10px">
                    <div class="container" style="height:180px">
                        <img src="/Content/images/diet.jpg" style="height: 100%; width: auto" class="card-img-top" alt="picture" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Diet</h5>
                        <p class="card-text">Need help creating a quality and healthy diet? Consultations, diet plans, useful tips. You will find all this here!</p>
                    </div>
                    <div style="padding: 0 0 15px 0">
                        <a asp-controller="Diet" asp-action="WelcomeToDietPlan" class="btn btn-dark">Diet plans</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
