@model IDictionary<string, int>


<h1>Schedule Index View</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="border-right-color:lightgray; text-align:center; padding:10px,0px,10px,0px">
            @await Html.PartialAsync("Calendar", Model)
        </div>
        <div class="col-md-8">
            @if (Model.ContainsKey("day"))
            {
                @await Html.PartialAsync("Events", Model)
               
            }

        </div>
    </div>
 
</div>

