@model FitMeApp.WEB.Contracts.ViewModels.CurrentDayEventsViewModel


<h1>Schedule</h1>
<h3>Here you can find information about all your workouts!</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="border-right-color:lightgray; text-align:center; padding:10px,0px,10px,0px">
            @await Html.PartialAsync("Calendar", Model)
        </div>
        <div class="col-md-8">
            @if (Model.Day != 0)
            {
                @await Html.PartialAsync("Events", Model)
               
            }

        </div>
    </div>
 
</div>

