@model FitMeApp.WEB.Contracts.ViewModels.CalendarPageWithEventsViewModel


<h1>Schedule</h1>
<h5>Here you can find information about all your workouts!</h5>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="border-right-color:lightgray; text-align:center; padding:10px 0 10px 0">
            @await Html.PartialAsync("Calendar", Model)
            @if (User.IsInRole("trainer"))
            {
                <br/>
                <a asp-controller="GroupClasses" asp-action="SetGroupClassesSchedule" class="btn btn-dark"> Set new group class appointment</a>
            }
            
        </div>
        <div class="col-md-8">
            @if (Model.DayOnCalendarSelected)
            {
                if (User.IsInRole("trainer"))
                {
                    if (Model.SelectedDayIsWorkOff)
                    {
                        @await Html.PartialAsync("TrainerDayOff")
                    }
                    else
                    {
                        @await Html.PartialAsync("TrainersEvents", Model)
                    }




                }
                else
                {
                    @await Html.PartialAsync("UsersEvents", Model)
                }


            }

        </div>
    </div>
 
</div>

