
<div style="text-align:center; width:100%">
    <h3>You havn't set work hours.</h3>
    <h3>Please, in order be able organize or see your events indicate your work hours in Profile'</h3>
</div>

<div style="width:100%; text-align:center">
    <img src="/Content/images/dayOff.jpg" alt="DayOff picture" style="width:60%; height:auto" />
</div>
