@model FitMeApp.Models.ExcelModels.AttendanceChartExcelFileViewModel


<h3>Attendance statistic</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>
                    To load attendance data do some steps below:
                </h5>
                <br/>
                <h6>
                    1. Download the blank by pressing the button
                </h6>
                <a asp-controller="Chart" asp-action="DownloadAttendanceChartBlank" class="btn btn-dark">Download blank</a>
                <br/>
                <br/>
                <h6>
                    2. Fill out the columns "Visitors" in the downloaded blank and save the changes.
                </h6>
                <h6>
                    3. Load filled blank (.xlsx) bellow:
                </h6>
                <form asp-controller="Chart" asp-action="LoadAttendanceChartFile" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="GymId"/>
                    <input type="hidden" asp-for="GymName"/>
                    <div class="form-group" style="text-align: left">
                        <input type="file" asp-for="AttendanceChartFile" class="form-control" accept=".xlsx" style="width: 100%"/>
                    </div>
                    <input type="submit" value="Save" class="btn btn-outline-secondary"/>
                </form>
                <br/>
                <h6>
                    4. Once you make all the steps, you could see the char on your Gym page or just by clicking button below.
                </h6>
                @if (ViewBag.FileUploaded)
                {
                    <a asp-controller="Chart" asp-action="AttendanceChart" asp-route-gymId="@Model.GymId" class="btn btn-dark"> Show updated chart</a>
                }
                else
                {
                    <a class="btn btn-dark" style="color: white" data-bs-toggle="modal" data-bs-target="#exampleModal">Show updated chart</a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding: 20px">
                <img src="/Content/images/chart.jpg" style="width: 100%; height: auto"/>
            </div>
        </div>
    </div>
   
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Not so fast</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You need to upload a Attendance data file first.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>