<div style="text-align: center">
    <img src="/Content/images/noSearchResult.jpg" alt="picture" style="width: 30%; height: auto" />
    <div class="card-text">
        Sorry, but there are no matches for the current parameters.
        <br /> 
        Please change the data in the filter.
    </div>
</div>
