

<div class="dropdown position-relative">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Gym settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" asp-controller="Chart" asp-action="InputVisitingChartData">Visiting</a></li>
        <li><a class="dropdown-item" asp-controller="Gyms" asp-action="Index">Users</a></li> @*todo addGymPhoto action*@
    </ul>
</div>
