<li class="nav-item dropdown">
    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Gym settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" asp-controller="Gyms" asp-action="LoadAttendanceChartData">Attendance statistic</a></li>
        <li><a class="dropdown-item" asp-controller="Gyms" asp-action="Index">Gallery</a></li> @*todo addGymPhoto action*@
    </ul>
</li>

