@model bool

@{
    ViewBag.Title = "ApplyForTrainingSubmitted";
}

<div style="margin:20px; text-align:center">
    @if (Model)
    {
        <h3>Application for training has been submitted and is awaiting for confirmation!</h3>
    }
    else
    {
        <h3>Application for group class has been confirmed successfully!</h3>
    }
    <h5>All information you can check on your Schedule in Profile.</h5>

    <a asp-action="Index" asp-controller="Home" class="btn btn-light">Back to Home page</a>
</div>
<div style="text-align:center">
    <img src="~/Content/images/Hi.jpg" alt="Alternate Text" style="height:300px; width:auto" />  @*put workout picture this*@
</div>
