@model string

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <br />
            <br />
            <div style="text-align: center">
                <h4>Oops, You don't have available subscription.</h4>
                <br />
                <br />
                <h5>In order to apply training you must have <br/>
                    an available subscription for the gym, where selected trainer works.</h5>
                <h5>Then you'll be able to apply the training.</h5>
            </div>
            <br />
            <div>
                <a asp-controller="Subscriptions" asp-action="Subscriptions" asp-route-gymId="@Model" class="btn btn-dark">Select subscription</a>
                <a asp-controller="Trainers" asp-action="Index" class="btn btn-dark">Cancel</a>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

