@model IEnumerable<string>
<div>
    <h3>Chat</h3>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
           @await  Component.InvokeAsync("ChatList", new{ contactsId = Model})
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>