@model FitMeApp.WEB.Contracts.ViewModels.UserChatMainPageViewModel
<div>
    <h3>Chat</h3>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
           @await  Component.InvokeAsync("ChatList", new{ contactsId = Model.ContactsId})
        </div>
        <div class="col-md-8">
            @if (Model.ReceiverId != null)
            {
                @await Component.InvokeAsync("ChatOneToOne", new { senderId = Model.SenderId, receiverId = Model.ReceiverId})
            }
        </div>
    </div>
</div>