@model IEnumerable<FitMeApp.Common.User>

<h2>User-Roles list</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditCurrentUserRoles" asp-route-userid="@user.Id">Show roles</a>
        </td>
    </tr>
    }
</table>
